<html>
  <head>
     <title>movie review  app </title>
    <style>
   *{font-size:50px;}
body{background-color:azure;}
</style>
  </head>
 
  <body>
<center>
     <h1>diabetes app </h1>
<form method="POST" >
  <input type ="number" name ="fs" placeholder="enter fs " step = "any" required/>
<br><br>
<label>frequent uranating : </label><br>
  <input type ="radio" name ="fu" value="no" checked=true/>No
  <input type ="radio" name ="fu" value="yes" />yes

<br><br>

 <input type = "submit" value="check" />


</form>

{{m}}
</center>
  </body>
</html>